.title {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.title__content {
    font-size: calc(38rem / 16);
    font-weight: bolder;
    text-align: center;
    letter-spacing: -1px;
    width: 100%;
}


@media (min-width: 768px) {
    .title__content {
        font-size: calc(64rem / 16);
    }
}

@media (min-width: 1100px) {
    .title {
        padding: 0 150px;
    }
}
