.hidden {
    display: none;
}

.switch {
    background-color: var(--switch-bacground-color);
    padding: 6px;
    border-radius: 6px;
    max-width: 44px;
}

.switch__icon {
    width: 17px;
    height: 17px;
}

@media (min-width: 768px) {
    .switch__icon {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 1110px) {
    .switch__icon {
        width: 22px;
        height: 22px;
    }
}